body{
  background: linear-gradient(90deg, #25255c, #171738, #0c0c1c, #171738,#0f0f52);
  background-color:#0b1026;
  color:#fff;
  text-align:center;
  font-size:22px;
}

header{
  background-color:#111a3d;
  line-height:45px;
  border: 4px solid #3266a8;
}

h2{
  color:#edb83b;
}

a{
  color:#fff;
}

img{
  border: 4px solid #3266a8;
}

footer{
  background-color:#111a3d;
  line-height:45px;
  border: 4px solid #3266a8;
}
